<div class="fixed w-screen h-screen flex items-center justify-center gap-50 main">
  <div class="text-white">
    <div>
      <p class="text-5xl font-bbh" style="font-family: 'BBH Bartle',sans-serif"> QUACKY </p>
      <p class="font-mono">lets quack quack</p>
    </div>
    <div class="flex gap-5 items-center mt-10">
      <button type="button" routerLink="/login"
              class="button cursor-pointer font-mono rounded-2xl text-center text-xl ps-5 pe-5 p-2 flex gap-2">Ducky
        enough <i class="bi bi-box-arrow-in-right mt-0.5"></i></button>
      <button type="button" routerLink="/register"
              class="button cursor-pointer font-mono rounded-2xl text-center text-xl ps-5 pe-5 p-2 flex gap-2">New
        here <i class="bi bi-box-arrow-in-down-left"></i></button>
    </div>
  </div>
  <div class="quacky cursor-pointer" (click)="playQuack()">
    <img class="w-100 " src="assets/common/ducky_quacky.svg" alt="here was ducky" height="740" width="700">
  </div>
</div>

