<div class="fixed w-screen h-screen flex flex-row">

  <div class="w-1/6 h-screen flex flex-col ">
    <div class="h-2/10 rounded-lg border border-blue-500 flex flex-row items-center text-white">
      <img class="w-20 h-20 m-3 rounded-full border-2 border-blue-500" src="assets/profilePictures/ducky_quacky_avatar_default.png" alt="profile_picture">
      <div class="flex flex-col gap-3 items-center justify-center">
        <p> username </p>
        <p> <i class="bi bi-plus"></i> Add status </p>
      </div>
    </div>
    <div class="h-8/10 rounded-lg border border-blue-500"></div>
  </div>

  <div class="w-5/6 h-full flex flex-col">
    <div class="w-full h-2/10 rounded-lg border border-blue-500 "></div>
    <div class="w-full h-8/10 rounded-lg border border-blue-500 "></div>
  </div>
</div>
