<button class="fixed flex cursor-pointer quacky w-20 ms-6 mt-6 z-10 rotate" type="button" routerLink="/" > <img class="w-20" src="assets/common/ducky_quacky.svg" alt="here was ducky"> </button>


<div class="fixed flex flex-col w-screen h-screen items-center justify-center text-white main">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="flex mb-5 justify-center text-3xl" style="font-family: 'BBH Bartle',sans-serif">
      Login
    </div>
    <div class="bg-gray-800 p-6 border border-blue-500 rounded-2xl w-96">
      <div class="relative flex mb-10 mt-5 w-full">
        <input class="border-b-2 focus:outline-none peer/username w-full focus:border-b-blue-400" id="username"
               type="text" formControlName="username" placeholder="">
        <label class="absolute -translate-y-5 scale-75 hover:cursor-text duration-300 transform
        peer-focus/username:-translate-y-5 peer-focus/username:scale-75 peer-focus/username:text-blue-400 origin-left
        peer-placeholder-shown/username:translate-y-0 peer-placeholder-shown/username:scale-100 select-none font-mono"
               for="username">Username </label>
      </div>
      <div class="relative flex mb-5 w-full">
        <input class="border-b-2 focus:outline-none peer/password w-full focus:border-b-blue-400" id="password"
               type="password" formControlName="password" placeholder="">
        <label class="absolute -translate-y-5 scale-75 hover:cursor-text duration-300 transform
        peer-focus/password:-translate-y-5 peer-focus/password:scale-75 peer-focus/password:text-blue-400 origin-left
        peer-placeholder-shown/password:translate-y-0 peer-placeholder-shown/password:scale-100 select-none font-mono"
               for="password">Password </label>
      </div>
    </div>

    <div class="flex gap-5 mt-5 w-95">
      <button class="bg-blue-700 p-3 rounded-2xl w-1/2 cursor-pointer flex items-center justify-center gap-2
      transform duration-200 hover:bg-blue-600 hover:scale-105 font-mono" type="button" routerLink="/register">
        Reg Instead <img class="w-5" src="assets/common/new.svg" alt="Reg Icon"/> </button>
      <button class="bg-blue-700 p-3 rounded-2xl w-1/2 cursor-pointer flex items-center justify-center gap-2
      transform duration-200 hover:bg-blue-600 hover:scale-105 font-mono" type="submit">
        Login <img class="w-5" src="assets/common/login.svg" alt="Login Icon"/></button>
    </div>
  </form>


</div>
